{% extends "admin_base.njk" %}

{% block titulo %}Productos | Listado{% endblock %}
{% block contenido %}
    <h1>Listado de productos</h1>
    <table width="100%">
        {% for producto in productos %}
            <tr>
                <td>
                    {{ producto.nombre }}
                </td>
                <td>
                     <a class="btn btn-success p-1" href="/admin/editar/{{ producto.id }}">Editar</a>
                    <form class="displayInline" action="/admin/{{ producto.id }}" method="post">
                        <input type="hidden" name="_method" value="delete"/>
                        <button type="submit" class="btn btn-danger p-1">Borrar</button>
                    </form>
                    
                </td>
            
            </tr>
        {% endfor %}
    </table>
    <a class="btn btn-primary" id="insertarProducto" href="/admin/nuevo">Crear Un Nuevo Producto</a>
{% endblock %}